<div class="card card-block">
    <h2 class="card-title">{{myapp.titulo}}</h2>
    <p class="card-text" [hidden]="myapp.hide">{{myapp.mensaje}}</p>
    <button class="btn btn-primary" [ngClass]="{'btn-primary': myapp.hide, 'btn-danger': !myapp.hide}" (click)="myapp.toggle()">{{myapp.hide ? 'Mostrar' : 'Ocultar'}}</button>
</div>